.header{
  width: 327px;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  margin: 0 auto;
}

.dictionary_icon{
  width: 28px;
  height: 32px;
  cursor: pointer;
}

.header_container{
  display: flex;
  align-items: center;
  gap: .9rem;
}

.header_container .font_container{
  position: relative;
  cursor: pointer;
}

.header_container .font_container .fontName_arrow_container_div{
  display: flex;
  align-items: center;
  gap: .9rem;
}

.header_container .font_container .fontName_arrow_container_div .fontName{
  font-size: .875rem;
  font-weight: 700;
  line-height: 24px;
  color: var(--text-color);
}

.header_container .font_container .fontName_arrow_container_div .arrow_container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_container .font_container .fontName_arrow_container_div .arrow_container .arrow{
  width: 12px;
  height: 6px;
  transition: .2s;
}

.header_container .font_container.fontOptionsOpened .fontName_arrow_container_div .arrow_container .arrow{
  rotate: 180deg;
}

.header_container .font_container .font_options{
  width: 143px;
  height: 122px;
  background-color: var(--fontOptions-background);
  position: absolute;
  top: 33px;
  right: 0;
  border-radius: 12px;
  box-shadow: var(--fontOptions-shadow);
  visibility: hidden;
  opacity: 0;
  z-index: 99;
  transition: .3s;
}

.header_container .font_container.fontOptionsOpened .font_options{
  visibility: visible;
  opacity: 1;
}

.header_container .font_container .font_options_list{
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: .9rem;
  padding: 0 1rem;
}

.header_container .font_container .font_options_list .font_option{
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 24px;
  color: var(--text-color);
  transition: .2s;
}

.header_container .font_container .font_options_list .font_option:hover{
  color: var(--purple);
}

.header_container .line{
  width: 1px;
  height: 32px;
  background-color: var(--grey-2);
}

.header_container .switchThemesIcons_container{
  height: 20px;
  display: flex;
  gap: .9rem;
}

.header_container .switchThemesIcons_container .moon svg path{
  stroke: var(--moon-color);
}

@media(min-width: 768px){

  .header{
    width: 689px;
    height: 100px;
  }
}

@media(min-width: 1200px){

  .header{
    width: 736px;
  }
}
