.main{
  width: 327px;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.form{
  width: 100%;
  position: relative;
  caret-color: var(--purple);
}

.form .text_input{
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 15px;
  background-color: var(--grey-3);
  padding: 0 1.4rem;
  color: var(--black-3);
  font-size: 1rem;
  font-weight: 700;
}

.form .text_input:focus{
  outline-color: var(--purple);
}

.form .text_input::placeholder{
  font-size: 1rem;
  font-weight: 700;
  color: var(--black-3);
  opacity: .3;
}

.form .searchIcon{
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  right: 7%;
  background: transparent;
  border: none;
}

.word_phonetics_section{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.8rem 0;
}

.word_phonetics_section .word_info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .6rem;
}

.word_phonetics_section .word_info .word{
  font-size: 2rem;
  font-weight: 700;
}

.word_phonetics_section .word_info .phonetic{
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--purple);
}

.word_phonetics_section .play_button,
.word_phonetics_section .play_button svg{
  width: 48px;
  height: 48px;
  border: none;
  background: transparent;
}

.word_phonetics_section .play_button svg g circle,
.word_phonetics_section .play_button svg path{
  transition: .3s;
}

.partOfSpeech_section{
  width: 100%;
  margin-bottom: 2rem;
}

.partOfSpeech_section .word_class{
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 700;
  position: relative;
  margin-bottom: 2.2rem;
}

.partOfSpeech_section .word_class::after{
  content: "";
  width: 230px;
  height: 1px;
  position: absolute;
  top: 46%;
  right: 0;
  background-color: var(--grey-2);
}

.partOfSpeech_section .ul_title{
  font-size: 1rem;
  font-weight: 400;
  color: var(--grey-1);
  margin-bottom: 1.3rem;
}

.partOfSpeech_section .meanings_list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  padding-left: 1rem;
}

.partOfSpeech_section .meanings_list li{
  font-size: .9375rem;
  font-weight: 400;
  line-height: 24px;
  padding-left: .8rem;
}

.partOfSpeech_section .meanings_list li::marker{
  color: var(--purple);
}

.partOfSpeech_section .synonyms-container{
  margin-top: 2.2rem;
  display: flex;
  align-items: flex-start;
  gap: 3rem;
}

.partOfSpeech_section .synonyms-container .synonyms-container-title{
  font-size: 1rem;
  font-weight: 400;
  color: var(--grey-1);
}

.partOfSpeech_section .synonyms-container .synonyms-container-list{
  list-style: none;
}

.partOfSpeech_section .synonyms-container .synonyms-container-list .synonyms-container-item{
  display: inline;
  font-size: 1rem;
  font-weight: 700;
  color: var(--purple);
}

.source_section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .7rem;
  position: relative;
  margin-top: 4rem;
}

.source_section::before{
  content: "";
  position: absolute;
  width: 327px;
  height: 1px;
  background-color: var(--grey-2);
  top: -30px;
}

.source_section .source_section-title{
  font-size: .875rem;
  color: var(--grey-1);
  border-bottom: 1px solid var(--grey-1);
}

.source_section .source{
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration-color: var(--black-3);
}

.source_section .source .source_link{
  font-size: .875rem;
  color: var(--black-3);
}

@media(min-width: 768px){

  .main{
    width: 689px;
    padding-bottom: 5rem;
  }

  .form .text_input{
    height: 64px;
    padding: 0 1.8rem;
  }

  .form .searchIcon{
    right: 3.5%;
  }

  .word_phonetics_section .word_info{
    gap: .4rem;
  }

  .word_phonetics_section .word_info .word{
    font-size: 4rem;
  }

  .word_phonetics_section .word_info .phonetic{
    font-size: 1.5rem;
  }

  .word_phonetics_section .play_button,
  .word_phonetics_section .play_button svg{
    width: 75px;
    height: 75px;
  }

  .partOfSpeech_section{
    margin-bottom: 3rem;
  }

  .partOfSpeech_section .word_class{
    font-size: 1.5rem;
  }

  .partOfSpeech_section .word_class::after{
    width: 550px;
    top: 46%;
  }

  .partOfSpeech_section .ul_title{
    font-size: 1.25rem;
    margin-bottom: 1.8rem;
  }

  .partOfSpeech_section .meanings_list{
    padding-left: 2.8rem;
  }

  .partOfSpeech_section .meanings_list li{
    font-size: 1.125rem;
  }

  .partOfSpeech_section .synonyms-container .synonyms-container-title{
    font-size: 1.25rem;
  }

  .partOfSpeech_section .synonyms-container .synonyms-container-list .synonyms-container-item{
    font-size: 1.25rem;
  }

  .source_section{
    flex-direction: row;
    align-items: center;
    gap: 1.8rem;
    margin-top: 4rem;
  }

  .source_section::before{
    width: 689px;
    top: -20px;
  }
}

@media(min-width: 1200px){

  .main{
    width: 737px;
  }

  .word_phonetics_section{
    margin: 3rem 0;
  }

  .word_phonetics_section .word_info{
    gap: .6rem;
  }

  .word_phonetics_section .play_button{
    cursor: pointer;
  }

  .word_phonetics_section .play_button:hover svg g circle{
    opacity: 1;
  }

  .word_phonetics_section .play_button:hover svg path{
    fill: var(--white);
  }

  .partOfSpeech_section .word_class{
    margin-bottom: 2.7rem;
  }

  .partOfSpeech_section .synonyms-container{
    margin-top: 3.2rem;
  }

  .source_section::before{
    width: 736px;
    top: -20px;
  }
}
