.main{
  width: 327px;
  margin: 0 auto;
  padding-bottom: 2rem;
}

@media(min-width: 768px){

  .main{
    width: 689px;
    padding-bottom: 5rem;
  }
}

@media(min-width: 1200px){

  .main{
    width: 737px;
  }
}
