.partOfSpeech_section{
  width: 100%;
  position: relative;
}

.partOfSpeech_section .word_class{
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 700;
  position: relative;
  margin-bottom: 2.2rem;
  color: var(--text-color);
}

.partOfSpeech_section .word_class::after{
  content: "";
  width: 210px;
  height: 1px;
  position: absolute;
  top: 50%;
  right: 0;
  background-color: var(--line-color);
}

.partOfSpeech_section .ul_title{
  font-size: 1rem;
  font-weight: 400;
  color: var(--grey-1);
  margin-bottom: 1.2rem;
}

.partOfSpeech_section .meanings_list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding-left: 1rem;
}

.partOfSpeech_section .meanings_list li{
  font-size: .9375rem;
  font-weight: 400;
  line-height: 24px;
  padding-left: .7rem;
  color: var(--text-color);
}

.partOfSpeech_section .meanings_list li::marker{
  color: var(--purple);
}

.partOfSpeech_section .meanings_list li .example{
  font-family: var(--fontFamily);
  font-weight: 400;
  font-size: .9375rem;
  line-height: 24px;
  margin-top: .8rem;
  color: var(--grey-1);
}

.partOfSpeech_section .synonyms-container{
  margin: 2rem 0;
  display: flex;
  align-items: flex-start;
  gap: 3rem;
}

.partOfSpeech_section .synonyms-container .synonyms-container-title{
  font-size: 1rem;
  font-weight: 400;
  color: var(--grey-1);
}

.partOfSpeech_section .synonyms-container .synonyms-container-list{
  list-style: none;
}

.partOfSpeech_section .synonyms-container .synonyms-container-list .synonyms-container-item{
  display: inline;
  cursor: pointer;
}

.partOfSpeech_section .synonyms-container .synonyms-container-list .synonyms-container-item a{
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  color: var(--purple);
}

.partOfSpeech_section .synonyms-container .synonyms-container-list .synonyms-container-item:hover{
  border-bottom: 1px solid var(--purple);
}

@media(min-width: 768px){

  .partOfSpeech_section .word_class{
    font-size: 1.5rem;
  }

  .partOfSpeech_section .word_class::after{
    width: 530px;
    top: 46%;
  }

  .partOfSpeech_section .ul_title{
    font-size: 1.25rem;
    margin-bottom: 1.8rem;
  }

  .partOfSpeech_section .meanings_list{
    padding-left: 2.8rem;
  }

  .partOfSpeech_section .meanings_list li{
    font-size: 1.125rem;
  }

  .partOfSpeech_section .meanings_list li .example{
    font-size: 1.125rem;
  }

  .partOfSpeech_section .synonyms-container .synonyms-container-title,
  .partOfSpeech_section .synonyms-container .synonyms-container-list .synonyms-container-item a{
    font-size: 1.25rem;
  }
}

@media(min-width: 1200px){

  .partOfSpeech_section .word_class{
    margin-bottom: 2.7rem;
  }

  .partOfSpeech_section .synonyms-container{
    margin-top: 3.2rem;
  }
}
