input[type="checkbox"] {
  width: 40px;
  height:20px;
  appearance: none;
  background-color: var(--grey-1);
  border-radius: 50px;
  transition: .4s;
  position: relative;
}

input:checked[type="checkbox"] {
  background-color: var(--purple);
}

input[type="checkbox"]:before{
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 5%;
  translate: 0 -50%;
  transition: .4s;
}

input:checked[type="checkbox"]:before{
  left: 60%;
}

@media(min-width: 1200px){

  input[type="checkbox"]:hover {
    background-color: var(--purple);
    cursor: pointer;
  }
}
