*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}

p,h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

html, body{
  height: 100vh;
  background-color: var(--background-color);
}

:root{
  --black-1: #2D2D2D;
  --black-2: #1F1F1F;
  --black-3: #050505;
  --grey-1: #757575;
  --grey-2: #E9E9E9;
  --grey-3: #F4F4F4;
  --white: #FFFFFF;
  --purple: #A445ED;
  --red: #FF5252;

  --moon-color: var(--grey-1);
  --input-background: var(--grey-3);
  --placeholder: var(--black-1);
  --fontOptions-background: var(--white);
  --fontOptions-shadow: var(--grey-3);
  --background-color: var(--white);
  --text-color: var(--black-1);
}

[data-theme="dark"]{
  --black-1: #2D2D2D;
  --black-2: #1F1F1F;
  --black-3: #050505;
  --grey-1: #757575;
  --grey-2: #E9E9E9;
  --grey-3: #F4F4F4;
  --white: #FFFFFF;
  --purple: #A445ED;
  --red: #FF5252;

  --moon-color: var(--purple);
  --input-background: var(--black-2);
  --placeholder: var(--white);
  --fontOptions-background: var(--black-2);
  --fontOptions-shadow: var(--grey-3);
  --background-color: var(--black-3);
  --text-color: var(--white);
}

